{% extends "layout.html" %}

{% block title %}
  Flack: {{ channel }}
{% endblock %}

{% block script %}
  <script>var channel = '{{ channel }}';</script>
  <script src="{{ url_for('static', filename='chat.js') }}"></script>
{% endblock %}

{% block channelForm %}
  <li class="nav-item">
    <form id="form-create-channel" >
      <input type="text" class="form-control" id="create-channel" autocomplete="off">
      <input type="submit" style="display:none;">
    </form>
  </li>
{% endblock %}

{% block body %}   
  <div id="chat-display"></div>

  <form id="form-chat-input">
    <div class="input-group mb-3">
      <input type="text" class="form-control" id="chat-input" autocomplete="off" autofocus >
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Enter</button>
      </div>
    </div>
  </form>
{% endblock %}